/* Definition du fond de l'application*/
.weather-home {
    background-image: url('../img/sky.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
    padding:10px;
}

/* Couleur des textes */
.overlay {
    padding-top: 5px;
    background-color: #000000;
    opacity: 0.5;
    flex-direction: column;
    align-items: center;
}

/* Style des résultats */
.input-label {
  color: #ffffff;
}

input[type="text"] {
    color: #170303;
    padding-left: 16px;
}

.forecast {
    align-items: center;
    flex-direction: column;
}

.bigText {
    flex: 2;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
}

.mainText {
    flex: 1;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.icon {
    margin-left: 50px;
    height: 50px;
    width: 50px;
}